footer{
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;

    .lado-esquerdo{
        display: flex;  
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .menu-footer{
            overflow-y: hidden;
            display: flex;
            span{
                color: white;
                padding: 15px;
                line-height: 3em;
            }
        }
            
        p{
            margin-top: 5vh;
            color: white;
        }

    }

    .lado-direito{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        box-sizing: border-box;
        
        figure{
            margin-bottom: 30px;
            display: flex;
            align-items: center;

            span{
                color: white;

            }
        }

    }
}

.img-footer-desktop{
    width: 25vw;
    margin: 10vh;
}