header{
    width: calc(100vw - 10%);
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary);
    position: absolute;
    top: 0;
}


.logo{
    margin-left: 35px;
    font-size: 1em;
}

nav{

    ul {
        display: flex;
        li {
            padding: 20px;
            list-style: none;
            a{
                text-decoration: none;
                color: var(--menu-color);
                outline: none;
                font-size: 0.9em;
                &:hover{
                    color: black;
                }
            }
        }
    }   
}

.singin{
    margin-right: 4%;
    font-size: 0.8em;
    width: 8vw;
    height: 40%;
    border: 1px solid white;
    border-radius: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}

.menu-mobile{
    display: none;
}

@media (max-width: 670px){
    nav{
        display: none;
    }

    .logo{
        margin-left: -15px;
    }

    .logo img{
        width: 40vw;
    }

    .singin{
        display: none;
    }

    .menu-mobile{
        display: block;
        margin-right: -20px;
        width: 15%;
    }

    header{
        height: auto;
        margin-top: 7%;
    }

}

@media (max-width: 450px){
    .singin{
        display: none;
    }
}